body {
	background-color : #232323;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
p {
	color: white;
}




/*
@media (min-width: 700px) {
	.col1 {
		width: 33%;
		float: left;
	}
	.col2 {
		width: 33%;
		display: inline 33%;
	}
	.col3 {
		width: 33%;
		float: right;
	}
}


@media  (min-width: 400px) and (max-width: 699px) {
	.col1 {
		width: 50%;
		float: left;
	}
	.col2 {
		width: 50%;
		float: left;
	}
	.col3 {
		width: 50%;
		float: left;
	}
}

@media  (max-width: 399px) {
	.col1 {
		width: 100%;
		float: center;
	}
	.col2 {
		width: 100%;
		float: center;
	}
	.col3 {
		width: 100%;
		float: center;
	}
}
*/

@media (min-width: 400px) {
	.col1{

	}
}

@media (min-width: 800px) {
	.col1{
		width: 50%;
		float: left;
	}
	.col2{
		width: 50%;
		float: right;
	}
	.col3{
		width: 50%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col1 { 
		width: 33%;
		float: left;
	}

	.col2 {
		width: 33%;
		display: inline 33%;
	}
	.col3 {
		width: 33%;
		float: right;
	}
		
	
}